@page "/restaurant/ticket"
<div class="ticket-80mm">
  <div class="center">
    <div><strong>MultiBiz Restaurante</strong></div>
    <div>Ticket #123</div>
  </div>
  <hr/>
  <div>2 x Café ................ ₡2000</div>
  <div>1 x Sandwich ............ ₡3500</div>
  <hr/>
  <div>Subtotal: ₡5500</div>
  <div>Servicio (10%): ₡550</div>
  <div>Impuesto (13%): ₡715</div>
  <div><strong>Total: ₡6765</strong></div>
  <hr/>
  <div class="center">¡Gracias por su compra!</div>
</div>
