@page "/barbershop/calendar"
@inject ApiClient Api

<SecureRoute>
    <h4>Agenda Barbería</h4>
    @if (_loading)
    {
        <p>Cargando...</p>
    }
    else
    {
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var a in _items)
            {
                <tr>
                    <td>@a.Id</td>
                </tr>
            }
            </tbody>
        </table>
    }
</SecureRoute>

@code {
    private IEnumerable<AppointmentDto> _items = Enumerable.Empty<AppointmentDto>();
    private bool _loading = true;

    protected override async Task OnInitializedAsync()
    {
        _items = await Api.GetAppointments(DateTime.UtcNow.Date, DateTime.UtcNow.Date.AddDays(7));
        _loading = false;
    }
}
